* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fefdf8;
}

.prinav {
  background-color: #f9c4bc;
}

#mklogo {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-left: 10px;
  width: 70px;
  border: 1px solid black;
}

.prinav {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  width: 100%;
}

.navcontent{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.prinav div div {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 20px;

}

.prinav div div img {
  display: block;
  height: 30px;
  margin: 0 auto;
}

.navspacer {
  display: inline-block;
  /* Parent width - Logo width - Menu <ul> width */
  width: calc(100% - 100px - 480px);
}

header {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.headphoto {
  width: 100%;
  opacity: 0.3;
  text-align: center;
}

.header {
  position: absolute;
  top: 50%; /* 親要素のtop/leftから50％ */
  left: 50%;
  transform: translate(-50%,-50%);  /*センター寄せの修正*/
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 5em;
}

.header h2 {
  font-size: 2em;
}

.secnav {
  display: inline-block;
  vertical-align: middle;
  /* width: 60%; */
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

.welcome {
  margin: 5%;
  text-align: center;
  font-size: x-large;
  font-weight: bold 700;
  text-decoration: underline;
}

main nav {
  margin-top: 50px;
}

main nav div img {
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

#about, #classes, #update, #gallery, #contact {
  font-size: larger;
}

#lefticon {
  margin-right: 5%;
}

#righticon {
  margin-left: 5%;
}

.right {
  text-align: right;
}

.bodyspacer {
  height: 3em;
}

footer {
  padding: 20px;
  margin-top: 5%;
  text-align: center;
  background-color: #f9c4bc;
}

footer p {
  font-size: 1.2em;
}