* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fefdf8;
}

.prinav {
  background-color: #f9c4bc;
}

#mklogo {
  display: inline-block;
  margin: 10px;
  width: 100px;
  border: 1px solid black;
}

.prinav ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 85px;
}

.prinav ul li {
  display: inline-block;
  font-size: 1.2em;
  margin-left: 20px;
}

.navspacer {
  display: inline-block;
  /* Parent width - Logo width - Menu <ul> width */
  width: calc(100% - 100px - 650px);
}

header {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.headphoto {
  width: 100%;
  opacity: 0.3;
}

.header {
  position: absolute;
  top: 50%; /* 親要素のtop/leftから50％ */
  left: 50%;
  transform: translate(-50%,-50%);  /*センター寄せの修正*/
  width: 100%;
}

.header h1 {
  font-size: 5em;
}

.header h2 {
    font-size: 2em;
}

.secnav {
  display: inline-block;
  vertical-align: top;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

.welcome {
  margin: 5%;
}

main nav div img {
  width: 100px;
}

#lefticon {
  margin-right: 5%;
}

#righticon {
  margin-left: 5%;
}

.right {
  text-align: right;
}

.bodyspacer {
  height: 3em;
}

footer {
  padding: 20px;
  margin-top: 5%;
  text-align: center;
  background-color: #f9c4bc;
}

footer p {
  font-size: 1.2em;
}